 
 
body div , p , h1 , h2   {
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    
}
h1 {
    text-align: center;
}
.carousel-inner h1 , h2 , h3  {
    color: chocolate;
}

header,
footer {
    font-family: "Poetsen One", sans-serif;
    padding: 1em;
    color: whitesmoke;
    background-color: black;
    clear: left;
    text-align: center;
    font-size: larger;
}
footer p {
    color: whitesmoke
}

#logorest {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 0px 5px 20px 10px #d3d3d3;
}
#nosotros ul {
    font-family: "Poetsen One";

}
nav a {
    display:inline-flex;
    color: rgb(59,55,56);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: rgb(201, 137, 18);
    text-decoration: none;
}

nav ul {
    text-align: center;
    padding: 0;
    background-color: #d3d3d3;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    box-shadow: 0px 10px 20px -5px white;
}

nav ul li {
    display:inline-flex;
    margin-right: 10px;
}

#tel {
    color: #d3d3d3;
    margin-top: 1%;
    background-color: black;
}

.carousel-inner img {
    /*width: 50%;
    height: auto;*/
    border-radius: 10px;
    /*max-height: 300px;*/
    height: 70%;
    width: auto;
    max-width:max-content;
}

.carousel-item {
    width: 100%;
    /* Ajusta este valor según la anchura deseada, 100% asegura que la imagen cubra el ancho del contenedor */
    height: 400px;
    /* Ajusta este valor para mantener la proporción de aspecto */
    /*max-width: 200px;  Máxima anchura */
    /*max-height: 1000px;  Máxima altura */
    object-fit:none;
    /* Asegura que la imagen cubra el área sin distorsionarse, recortando el exceso si es necesario */
}

.carousel-inner {
    display: flex;
    background-color: black;
    color: rgb(201, 137, 18);
    flex-wrap: wrap;
    padding: 0 4px;
    text-align: center;
}

.carousel-control-prev {
    height: 60%;
}

.carousel-control-next {
    height: 60%;
}

.carousel .carousel-indicators li {  background-color: gray; }
.carousel .carousel-indicators li.active { background-color:rgb(201, 137, 18); }


#carouselExampleIndicators {
    background-color: black;
}



.imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: space-around;
    row-gap: 20px;
    align-content: space-around;
    text-align: center;
    
}

.imagen {
    width: 200px;
    height: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    object-fit:contain;
    background-color: rgb(231, 201, 145) ;
    
}
.imagen:hover {
    width: 280px;
    
}
.imagencard {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .imagen {
        flex: 100%;
        max-width: 40%;
    }
    nav ul {
        text-align: center;
        padding: 0;
        background-color: #d3d3d3;
        border-radius: 5px;
        width: 100%;
        margin: auto;
        box-shadow: 0px 10px 20px -5px white;
    }
}

@media (max-width: 600px) {
    .imagen {
        flex: 100%;
        max-width: 50%;
    }
    nav ul {
        text-align: center;
        padding: 0;
        background-color: #d3d3d3;
        border-radius: 5px;
        width: 100%;
        margin: auto;
        box-shadow: 0px 10px 20px -5px white;
    }
}

#Nosotros{
    margin: 20px;
    padding: 20;
}

@media only screen and (max-width: 1024px) {

    /* Estilos para tablets */
    header,
    footer {
        flex-direction: column;
        text-align: center;
    }

    header img {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {

    /* Estilos para móviles */
    .menu-container {
        grid-template-columns: 1fr;
    }
}

#contacto {
    background-color: #d3d3d3;
}

#labCont {
    text-align: center;
}

#cont {
    text-align: center;
}

#radios {
    margin-left: 45%;
    text-align: left;
}

#forpag {
    text-decoration: underline;
}

#btnEnviar {
    background-color: #333;
    color: #d3d3d3;
    padding: 0.5%;
    width: 20%;
    border-radius: 10px;
}

#home {
    color: #d3d3d3;
    font-size: 20px;
    text-decoration: underline;
}